@import "./../utils/vars";

.navigation {
  @media (max-width: 1269px) {
    &--togger {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-wrap: nowrap;

    @media (max-width: 1269px) {
      &--togger {
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
      }
    }
  }

  &__item {
    margin: 0 26px;
    list-style: none;
  }

  &__link {
    position: relative;
    display: inline-block;
    height: 36px;
    padding: 0 3px;
    line-height: 36px;
    color: $text-light;
    font-size: 13px;
    text-transform: uppercase;
    @include hover(opacity, 0.8);

    @media (min-width: 1900px) {
      font-size: 15px;
    }

    @media (max-width: 1269px) {
      &--togger {
        font-size: 6vh;
      }
    }
  }
}
