%titleBold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

%titleSemiBold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

%textNormal {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

%textSemiBold {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
