$c-gray: #f2f9ff;
$header-color: #008aff;
$footer-color: $header-color;
$main-color: #ff9c8e;
$text-dark: #253757;
$text-normal-color: #6c788b;
$hint-color: #c0cdd7;
$text-light: #fff;
$button-hover: #ff7e6c;
$cards-first-color: #56ccf2;
$cards-second-color: #fcc91d;
$cards-third-color: #15D850;
$cards-fourth-color: #F36363;
$header-height: 80px;
$hd-header-height: 100px;
$footer-height: $header-height;
$block-ver-padding: 130px;
$block-hor-padding: 226px;
$hd-block-hor-padding: 300px;
$service-card-size: 264px;
$service-card-margin: 15px;
$service-cards-width: ($service-card-size + $service-card-margin * 2) * 2;
$service-cards-height: $service-cards-width + $service-card-size / 2;
