$c-gray: #f2f9ff;
$header-color: #008aff;
$footer-color: $header-color;
$main-color: #ff9c8e;
$text-dark: #253757;
$text-normal-color: #6c788b;
$hint-color: #c0cdd7;
$text-light: #fff;
$button-hover: #ff7e6c;
$cards-first-color: #56ccf2;
$cards-second-color: #fcc91d;
$cards-third-color: #15d850;
$cards-fourth-color: #f36363;
$header-height: 80px;
$hd-header-height: 100px;
$tablet-header-height: 50px;
$footer-height: $header-height;
$block-ver-padding: 130px;
$block-hor-padding: 226px;
$hd-block-hor-padding: 300px;
$service-card-size: 264px;
$service-card-margin: 15px;
$service-cards-width: ($service-card-size + $service-card-margin * 2) * 2;
$service-cards-height: $service-cards-width + $service-card-size / 2;
$gradient-yellow: linear-gradient(90deg, #e4a838, #f1dd6a);
$gradient-blue: linear-gradient(90deg, #cfecd0, #7195da);
$gradient-violet: linear-gradient(90deg, #ee5c87, #f1a4b5, #d587b3);
$gradient-pink: linear-gradient(90deg, #f598a8, #f6edb2);
$gradient-green: linear-gradient(90deg, #bbf387, #4bce47);
